@model PraiApp.Models.OrganizacaoModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrganizacaoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="IdOrganizacao" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeOrganizacao" class="control-label"></label>
                <input asp-for="NomeOrganizacao" class="form-control" />
                <span asp-validation-for="NomeOrganizacao" class="text-danger"></span>
            </div>
            <!-- Adicione outros campos aqui conforme necessário -->
            <div class="form-group">
                <label asp-for="Endereco.IdEndereco" class="control-label"></label>
                <input asp-for="Endereco.IdEndereco" class="form-control" />
                <span asp-validation-for="Endereco.IdEndereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsavel.IdResponsavel" class="control-label"></label>
                <input asp-for="Responsavel.IdResponsavel" class="form-control" />
                <span asp-validation-for="Responsavel.IdResponsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <a asp-action="Index" class="btn btn-secondary mr-2 float-right">Back to List</a>
    </div>
</div>


